@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body
{
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
.container {
  max-width: 1160px;
}
button.slick-arrow {
  display: none !important;
}
.slick-slide {
  padding: 0 5px;
}
ul.slick-dots li button::before {
  opacity: 0 !important;
}
ul.slick-dots li button {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 100px;
  margin: 0 !important;
}
ul.slick-dots li {
  margin: 0;
}
ul.slick-dots li.slick-active button {
  background: #FF7A00;
}
.mobileSlider ul.slick-dots {
  bottom: -38px;
}
.mobileSlider ul.slick-dots li.slick-active button
{
  background: #00379E;
}
.mobileSlider ul.slick-dots li button {
  background: #00379e3b;
}
@media (max-width:1199px)
{
  .container {
    padding: 0 25px;
  }
}
@media (max-width:991px)
{

}
@media (max-width:767px)
{
  .container {
    padding: 0 15px;
  }
  br
  {
    display: none;
  }
  footer {
    overflow: hidden;
}
}